body {
    background-color: #bfbfbf;
    color: #ffffff;
    font-size: 16px;
    font-family: serif;
  }
.nav-item{
  color: #ffffff;
  font-size: 20px;
  font-family: serif;
}
.navbar-toggler {
  color: #ffffff;
}
.navbar-toggler:focus, .navbar-toggler:active{
  box-shadow: none;
  outline: none;
  color: #ffffff;
}
nav {
  background-color: #404040;
  border-bottom: 2px solid #ffffff;
 }

.search-bar {
  background-color: #737373;
  border-radius: 10%;
  color: #ffffff;
  right: 0;
  top: 0;
}
 
.logo{
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
}


#cart {
  font-size: 32px;
  margin: 0;
  right: 3;
}
  
#cart a {
  position: relative;
  margin-right: 1.5rem;
}

#cart span {
  display: block;
  position: absolute;
  border-radius: 100px;
  background: red;
  padding: 1px 6px;
  font-size: 15px;
  top: -5px;
  right: -10px;
}

footer {
  text-align: center;
  background-color: #404040;
  color: #ffffff;
  font-style: arial;
}

.footer-copyright {
  background-color: #737373;
}

a{
  margin: 2%;
    color: #ffffff;
}
a:hover {
    color: #737373;
}
.copyright:hover{
  color: #404040;
}